<%= form_for(@new_post) do |f| %>
  <center>
    <div class="field">
      <%= f.text_field :content, autofocus: true, autocomplete: "content" %>
    </div>

    <div class="actions">
      <%= f.submit "Bark" %>
    </div>
  </center>
<% end %>
